body{
    margin: 0%;
    padding: 0%;
}
.container{
    margin-bottom: 10px;
}
.background{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color:  rgb(59, 59, 242);
}
.categories h3{
    color: #fff;
}
.categories img{
    width: 100%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: #fff;
    border: none;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscrible h6{
    color: gray;
}
footer{
    text-align: center;
}